body {
    font-size: 15pt;
    font-family: arial;
}

.login-container {
    background-color: #EAEAEA;
    width: 480px;
    height: 380px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.signup-container {
    @extend .login-container;
    height: 500px !important;
}

.login-container h2 {
    font-size: 30px;
    font-family: arial;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-container h3 {
    font-size: 18px;
    font-family: arial;
    color: #000000;
    margin-top: -45px;
    margin-bottom: 45px;
}

.login-container input {
    width: 348px;
    height: 47px;
    border: none;
    background-color: #D9D9D9;
    padding-left: 15px;
    margin-bottom: 20px;
}

.login-container button {
    display: block;
    margin: 30px auto 0;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #D9D9D9;
    font-size: 25px;
}

.ws-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #D9D9D9;
    z-index: 1;
}

.ws-container button {
    display: block;
    margin: 30px auto 0;
    width: 80%;
    height: 50px;
    border: none;
    background-color: #AEAEAE;
    font-size: 20px;
    color: #000;
}

.ws-container button:hover {
    background-color: #C3C3C3;
}

.channel-container {
    position: fixed;
    top: 0;
    left: 150px;
    height: 100%;
    width: 200px;
    background-color: #C3C3C3;
    z-index: 1;
    padding-top: 20px;
}

.channel-container button {
    display: block;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-left: 20px;
    width: 80%;
    height: 30px;
    border: none;
    background-color: #C3C3C3;
    font-size: 16px;
    color: #000;
    text-align: left;
}

.channel-container button:hover {
    background-color: #AEAEAE;
}

.channel-container h4 {
    font-size: 20px;
    font-family: arial;
    color: #000000;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 23px;
}