<html>


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>

    <div class="login-container">
        <h2>Create a channel</h2>
        <div>
            <form method="POST" action="/addChannel">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="text" name="channel_name" placeholder="New channel name:" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</body>


</html>