<html>


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <!-- <div class="go-back-container">
        <form method="POST" action="/chooseWS">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="ws_id" value="{{ ws_id }}">
            <button type="submit">Go Back</button>
        </form>
    </div> -->

    <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div>

    <div class="center-container error-column">
        <div class="login-container">
            <h2>Create a channel</h2>
            <div>
                <form method="POST" action="/addChannel">
                    <input type="hidden" name="ws_id" value="{{ ws_id }}">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="text" name="channel_name" placeholder="New channel name:" required>
                    <button type="submit">CREATE</button>
                </form>
            </div>
            <div class="error-container">
                {% if error_msg %}
                <p class="error">{{ error_msg }}</p>
                {% endif %}
            </div>
        </div>


    </div>


    <script>
        function goBack() {
            window.history.go(-2);
        }
    </script>

</body>


</html>