<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>

    <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div>
    <div class="center-container">
        <div class="login-container">
            <h2>Create a DM</h2>
            <h3>Click on the user you want to DM</h3>
            <div class="find-ws-list">
                {% for n in ws_users %}
                <form method="POST" action="/addDM">
                    <input type="hidden" name="ws_id" value="{{ ws_id }}">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" name="recipient_id" value="{{ n[0] }}">
                    <button type="submit">{{ n[1] }}</button>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <div class="go-back-container">
        <form method="POST" action="/chooseWS">
            <input type="hidden" name="workspace_id" value="{{ ws_id }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit">Go Back</button>
        </form>
    </div> -->

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>


</html>