<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <div class="ws-container">
        <div>
            {% for n in workspaces %}
            <form method="POST" action="/chooseWS">
                <input type="hidden" name="workspace_name" value="{{ n[1] }}">
                <input type="hidden" name="workspace_id" value="{{ n[0] }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">{{ n[1] }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addWSButton">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">+</button>
            </form>
        </div>
    </div>
    <div class="channel-header">
        <h4>{{ ws_name }}</h4>
    </div>
    <div class="channel-container">
        <h4>Channels</h4>
        <div>
            {% for n in channels %}
            <form method="POST" action="/chooseChannel">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="channel_id" value="{{ n[0] }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit"># {{ n[1] }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addChannelButton">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">+ Add Channel</button>
            </form>
        </div>
        <h4>Direct Messages</h4>
        <div>
            {% for n in dms %}
            <form method="POST" action="/chooseDM">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="dm_id" value="{{ n[0] }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit"># {{ n[1] }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addDMButton">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">+ Add DM</button>
            </form>
        </div>
    </div>
    <div class="leave-button-container">
        <div class="leave-button">
            <form method="POST" action="/leaveWSButton">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">Leave Workspace</button>
            </form>
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-button">
            <form method="POST" action="/profileButton">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">Profile</button>
            </form>
        </div>
    </div>
</body>

</html>