<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <div class="ws-container">
        <div>
            {% for n in workspaces %}
            <form method="POST" action="/chooseWS">
                <input type="hidden" name="workspace_name" value="{{ n[1] }}">
                <input type="hidden" name="workspace_id" value="{{ n[0] }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">{{ n[1] }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addWSButton">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">+ Add Workspace</button>
            </form>
        </div>
    </div>
    <div class="channel-container">
        <h4>Channels</h4>
        <div>
            {% for n in channels %}
            <form method="POST" action="/chooseChannel">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="channel_id" value="{{ n[0] }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit"># {{ n[1] }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addChannelButton">
                <button type="submit">+ Add Channel</button>
        </div>
        <h4>Direct Messages</h4>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <h4># {{ channel_name }}</h4>
        </div>
        <div class="chat-body">
            {% for n in messages %}
            <div class="chat-username"><b>{{ n[2] }}</b></div>
            <div class="chat-message">{{ n[1] }}</div>
            {% endfor %}
        </div>
        <div class="chat-footer">
            <form method="POST" action="/sendMessage">
                <input type="hidden" name="ws_id" value="{{ ws_id }}">
                <input type="hidden" name="channel_id" value="{{ channel_id }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="text" name="message">
                <button type="submit">Send</button>
            </form>
        </div>
</body>

</html>