<html>


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>

    <!-- <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div> -->

    <div class="back-button back-dashboard">
        <form method="POST" action="/manageWS">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit">Back to Manage Workspace</button>
        </form>
    </div>

    <div class="center-container">
        <div class="login-container">
            <div>
                <p> There is no channel in this workspace! </p>
            </div>
        </div>
    </div>

    <!-- <script>
        function goBack() {
            window.history.back();
        }
    </script> -->
</body>


</html>