<html>


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>

    <div class="back-button back-dashboard">
        <form method="GET" action="/channel/{{ user_id }}/{{ ws_id }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit">Back to workspace</button>
        </form>
    </div>

    <div class="center-container">
        <div class="login-container manage-ws-title">
            <h2>Channels</h2>
            {% for n in channel_list %}
            <div class="manage-ws-name">
                <h3>{{ n[1] }} </h3>
            </div>
            <div class="manage-ws">
                <div class="manage-ws-delete">
                    <form method="POST" action="/deleteChannel">
                        <input type="hidden" name="user_id" value="{{ user_id }}">
                        <input type="hidden" name="ws_id" value="{{ ws_id }}">
                        <input type="hidden" name="channel_id" value="{{ n[0] }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>


</html>