<html>


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>

    <!-- <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div> -->
    <div class="back-button back-dashboard">
        <form method="GET" action="/workspace/{{ user_id }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit">Back to Dashboard</button>
        </form>
    </div>

    <div class="center-container">
        <div class="login-container">
            <div>
                <p> You don't own any Workspaces! No need to manage anything!</p>
            </div>
        </div>
    </div>

    <!-- <script>
        function goBack() {
            window.history.go(-2);
        }
    </script> -->
</body>


</html>