<html>


<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <div class="back-button">
        <button onclick="goBack()">Back</button>
    </div>

    <div class="center-container">
        <div class="login-container signup-container">
            <h2>You're new user!</h2>
            <h3>Let's get you set up</h3>
            <div>
                <form method="POST" action="/submit">
                    <input type="email" name="user_email" value="{{email}}" readonly required>
                    <input type="text" name="user_name" placeholder="Enter your name:" required>
                    <input type="date" name="dob" placeholder="Date of birth:" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="error-container">
                {% if error_msg %}
                <p class="error">{{ error_msg }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>


</html>