<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <div class="ws-container">
        <div>
            {% for n in data %}
            <form method="POST" action="/chooseWS">
                <input type="hidden" name="workspace_name" value="{{ n[1] }}">
                <input type="hidden" name="workspace_id" value="{{ n[0] }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">{{ n[1] }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addWSButton">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">+</button>
            </form>
        </div>
    </div>
</body>

</html>