<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <div class="ws-container">
        <div>
            {% for n in data %}
            <form method="POST" action="/chooseWS">
                <input type="hidden" name="workspace_name" value="{{ workspace }}">
                <button type="submit">{{ n }}</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <form method="POST" action="/addWSButton/<user_id>">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <button type="submit">Add Workspace</button>
        </div>
    </div>
</body>

</html>